body {
  margin: 0;
  background-color: lightslategrey;
}

/* holds yelpington title */
#header {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: yellow;
  width: 100%;
}

/* holds restaurants of waterbury header */
#headerTwo {
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: orange;
  width: 100%;
}

/* Holds map and restaurant list elements */
#main {
  position: relative;
}

/* holds restaurant list */
#listContainer {
  position: absolute;
  left: 10vw;
  top: 2vh;
  display: inline-block;
  width: 22vw;
  height: 65vh;
  background-color: lightskyblue;
}

/* Home page map */
#mapContainer {
  position: absolute;
  top: 2vh;
  right: 5vw;
}

/* restaurant page map */
#restaurantMap {
  position: absolute;
  top: 20vh;
  right: 5vw;
}

/* individual restaurant list items */
#listLink {
  color: blue;
}

/* hover effect on restaurant list items */
#listLink:hover {
  color: white;
}

/* holds specific restaurant info */
#infoContainer {
  margin-left: 10vw;
  margin-top: 10vh;
}

/* Button returns to home page */
#backButton {
  position: absolute;
  top: 2vh;
  left: 5vw;
  width: 10vw;
  height: 2vw;
}
