body {
  margin: 0;
  background-color: lightslategrey;
}

/* holds yelpington title */
#header {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: yellow;
  background-color: green;
  width: 100%;
}

/* holds restaurants of waterbury header */
#headerTwo {
  background-color: green;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: orange;
  width: 100%;
}

/* Holds map and restaurant list elements */
#main {
  position: relative;
}

/* holds restaurant list */
#listContainer {
  position: absolute;
  font-style: oblique;
  left: 25vw;
  top: 2vh;
  display: inline-block;
  width: 12vw;
  height: 50vh;
  background-color: lightskyblue;
  border: solid teal 5px;
  border-radius: 10%;
}

/* Home page map */
#mapContainer {
  position: absolute;
  border-radius: 10%;
  top: 2vh;
  right: 10vw;
}

/* restaurant page map */
#restaurantMap {
  position: absolute;
  
  top: 20vh;
  right: 5vw;
}

/* individual restaurant list items */
#listLink {
  color: blue;
}

/* hover effect on restaurant list items */
#listLink:hover {
  color: white;
}

/* holds specific restaurant info */
#infoContainer {
  justify-content: center;
  background-color: teal;
  width: 15vw;
  height: 40vh;
  color: blue;
  padding-left: 20px;
  margin-left: 25vw;
  margin-top: 12vh;
  border: solid violet 5px;
  border-radius: 7%;
}

/* Button returns to home page */
#backButton {
  position: absolute;
  background-color: darkturquoise;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  height: 3vh;
}

/* footer info */
#footer {
  position: absolute;
  top: 90vh;
  right: 45vw;
}
